html,body{margin:0;padding:0}
body{font: 86% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
p{text-align:justify}
a{padding:0px; text-decoration:underline; color:blue;}
div#header{background-color:#B90E50;}
div#header h1{height:65px;line-height:65px;margin:0;padding-left:10px;color:#FFFFFF}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#E6E6FA;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#CCC8B3;}
div#footer{background:#B90E50;color:#FFFFFF;text-align:center;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:1000px;margin:0 auto}
div#wrapper{float:left;width:100%}
div#content{margin: 0 150px}
div#navigation{float:left;width:150px;margin-left:-1000px}
div#extra{float:left;width:150px;margin-left:-150px}
div#footer{clear:left;width:100%}
