h2 {
  color: blue;
}

.bullets {  background-color: lightgray  }

#alert {  color: red;   }

#one {  color: #E90550;   }

#confirm {  color: blue;   }

canvas {
  width: 200pt;
  height: 100pt;
  margin: 10px;
  border: 1px solid lightgray;
  background-color: yellow;
}
