h2 {  color: blue;   }

.bullets {  background-color: lightgray  }

#alert {  color: red;   }

#one {  color: #E90550;   }

#confirm {  color: blue;   }

canvas {
  width: 300pt;
  height: 150pt;
  margin: 10px;
  border: 1px solid gray;
  background-color: lightgray;
}
